doctype html
html

  script(type="text/html" id="character-info")
   p= "dude, this may have worked"  
   ul(id="characters-list")
     div#grid   

  script(type='text/javascript' src='../javascripts/jquery-2.1.4.js')
  script(type='text/javascript' src='../javascripts/underscore.js')
  script(type='text/javascript' src='../javascripts/backbone.js')
  script(type='text/javascript' src='../javascripts/comicApp.js')
  script(rel='stylesheet', href='../stylesheets/normalize.css')
  script(rel='stylesheet', href='../stylesheets/style.css')
