#login-container
	h1 Login
	form#login(action="/" method="post")
		h1 Username :
		input#username(name="username" type="text" required)
		h1 Password :
		input#password(name="password" type="password" required)
		br
		br
		input#loginButton(type="submit" value="Login" class="hvr-pulse")
		a#loadSignup(action="/signup" class="hvr-pulse")
			p dont have an account?
