doctype html
html

  div(id="comicapp")

  script(type='text/javascript' src='../javascripts/jquery-2.1.4.js')
  script(type='text/javascript' src='../javascripts/underscore.js')
  script(type='text/javascript' src='../javascripts/backbone.js')
  script(type='text/javascript' src='../javascripts/comicApp.js')
  script(rel='stylesheet', href='../stylesheets/normalize.css')
  script(rel='stylesheet', href='../stylesheets/style.css')
     
