doctype html
html

 div(id="characters")
 
 script(type="text/html" id="template-characterSelect")
   ul (id="character")
    li (class="character" data-character-id="1")
    li (class="character" data-character-id="2")
    li (class="character" data-character-id="3")
    li (class="character" data-character-id="4")
    li (class="character" data-character-id="5")
    li (class="character" data-character-id="6")
       
 script(type='text/javascript' src='../javascripts/jquery-2.1.4.js')
 script(type='text/javascript' src='../javascripts/underscore.js')
 script(type='text/javascript' src='../javascripts/backbone.js')
 script(type='text/javascript' src='../javascripts/comicApp.js')
 script(rel='stylesheet', href='../stylesheets/normalize.css')
 script(rel='stylesheet', href='../stylesheets/style.css')
 //- script (type="text/javascript")
  //- characters
