ul(id="characters")
	li.character(data-character-id="1")
	li.character(data-character-id="2")
	li.character(data-character-id="3")
	li.character(data-character-id="4")
	li.character(data-character-id="5")
	li.character(data-character-id="6")
