
 

    html#leader
  head
    title  Goals 
    link(rel='stylesheet', type='text/css', href='select.css')
    link(href='http://fonts.googleapis.com/css?family=Lobster|Changa+One', rel='stylesheet', type='text/css')
  body
    #logo
      header.table
        ul#hlist
          li#left
            a(href='#')  LeaderBoard 
          li
            a(href='#')  Teams 
          li
            a(href='#')  Leaderboard 
          li
            a(href='#')  Profile 
    #leaderboard
      #rank
        p  Rank 
      #player
        p  Player 
      #team
        p  Team 
