extends layout

block content

  div.title
    h1= title
    p= message

  div.login

    div(id="container")
    h1 Login/Signup :

      h1 Username :
      div(id="container")
    form(id= "signup" action="/signup" method="post")
      input(id= "signupButton" type="submit" value="Signup")

    script(type="text/html" id="template-login")
      form(id="login" action="/login" method="post")
        input(id="username" name="username" type="text" required)
        input(id="password" name="password" type="password" required)
        input(id="loginButton" type="submit" value="Login")

    script(type='text/javascript' src='../javascripts/jquery-2.1.4.js')
    script(type='text/javascript' src='../javascripts/underscore.js')
    script(type='text/javascript' src='../javascripts/backbone.js')
    script(type='text/javascript' src='../javascripts/comicApp.js')
    script(type='text/css' src='../stylesheets/normalize.css')
