extends layout

block content

	body(id="BG")
	h1 Welcome to Nerd Battle 2015
	div.title
		p= message

	#comicapp.login
	#charZone
	#userInfo




block templates
	script(type="text/html")#template-login: include components/login.jade
	script(type="text/html")#template-signup: include components/signup.jade
	script(type="text/html")#template-characterSelect: include components/select.jade
	script(type="text/html")#character-info: include components/characterInfo.jade
	script(type="text/html")#fight-view: include components/fight.jade
	script(type="text/thml")#user-view: include components/user.jade

block scripts
	script(type='text/javascript' src='../javascripts/jquery-2.1.4.js')
	script(type='text/javascript' src='../javascripts/underscore.js')
	script(type='text/javascript' src='../javascripts/backbone.js')
	script(type='text/javascript' src='../javascripts/comicApp.js')

	
