extends layout

block content	
	body(id="BG")

		#userInfo
		#comicapp.login.blue


block templates
	script(type="text/html")#template-login: include components/login.jade
	script(type="text/html")#template-signup: include components/signup.jade
	script(type="text/html")#template-characterSelect: include components/select.jade
	script(type="text/html")#fight-view: include components/fight.jade
	script(type="text/html")#user-view: include components/user.jade
	script(type="text/html")#template-leaderboard: include components/leaderboard.jade

block scripts
	script(type='text/javascript' src='../javascripts/jquery-2.1.4.js')
	script(type='text/javascript' src='../javascripts/underscore.js')
	script(type='text/javascript' src='../javascripts/backbone.js')
	script(type='text/javascript' src='../javascripts/cookie.js')
	script(type='text/javascript' src='../javascripts/comicApp.js')

    
