extends layout

block content

  div.title
    h1= title
    p= message

  div.login(id="comicapp")

    h1 Login/Signup :

      h1 Username :

      div(id="container")
      br
      h1 Password :

      input(id="username" name="username" type="text" required)
      br
      //- h1 Password :
      //- input(id="password" name="password" type="password" required)

      br
      br
    form(id= "signup" action="/signup" method="post")
      input(id= "signupButton" type="submit" value="Signup")
      script(type='text/javascript' src='../javascripts/jquery-2.1.4.js')
      script(type='text/javascript' src='../javascripts/underscore.js')
      script(type='text/javascript' src='../javascripts/backbone.js')
      script(type='text/javascript' src='../javascripts/comicApp.js')

      //- button(action="/login" method="post" value="Login").
      //-   Login



    //- form(action="/login" method="post")
    //-   label Username :
    //-   input(name="username" type="text" )
    //-   br
    //-   label Password :
    //-   input(name="password" type="text" )
    //-   br
    //-   input(type="submit" value="Login")
