extends layout

block content

  div.title
    h1= title
    p= message

  div.login

    div(id="container")

    script(type='text/javascript' src='../javascripts/jquery-2.1.4.js')
    script(type='text/javascript' src='../javascripts/underscore.js')
    script(type='text/javascript' src='../javascripts/backbone.js')
    script(type='text/javascript' src='../javascripts/comicApp.js')
    script(type='text/css' src='../stylesheets/normalize.css')
      //- button(action="/login" method="post" value="Login").
      //-   Login



    //- form(action="/login" method="post")
    //-   label Username :
    //-   input(name="username" type="text" )
    //-   br
    //-   label Password :
    //-   input(name="password" type="text" )
    //-   br
    //-   input(type="submit" value="Login")
