doctype html
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0")

		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(rel='stylesheet', href='../stylesheets/normalize.css')
		link(href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css')
		link(href="/stylesheets/hover.css" rel="stylesheet" media="all")
		link(href='http://fonts.googleapis.com/css?family=Changa+One' rel='stylesheet' type='text/css')
		
	body
		block content
		block templates
		block scripts
