extends layout

block content
  h1= title
 


      div#grid
        div.row 
            a(href="http://www.dccomics.com/characters/batman")
             img(src="img/batman.png")
        div.row 
            a(href="")
             img(src="img/superman.png")
        div.row 
            a(href="")
             img(src="img/marvel.png")
        div.row 
            a(href="")
             img(src="img/greenlantern.png")
        div.row
            a(href="")
             img(src="img/cap.png")
        div.row
            a(href="") 
             img(src="img/spiderman.png") 
        div.row 
            a(href="")
             img(src="img/shield.png")
        div.row
            a(href="")
             img(src="img/deadpool.png")
        div.row 
            a(href="")
             img(src="img/flash.png")
        div.row 
            a(href="")
             img(src="img/punisher.png")
        div.row  
        div.row 
        div.row 
        div.row 
        div.row 
        div.row 
        div.row 
        div.row 

        


