


html#saved
  head
    title  Goals 
    link(rel='stylesheet', type='text/css', href='select.css')
    link(href='http://fonts.googleapis.com/css?family=Lobster|Changa+One', rel='stylesheet', type='text/css')
  body
    #logo
      header.table
        ul#hlist
          li#left
            a(href='#')  Teams 
          li
            a(href='#')  Teams 
          li
            a(href='#')  Leaderboard 
          li
            a(href='#')  Profile 
    #savedTeams
      p  Saved Teams 
      .col-1
        p  Character 
      .col-1
        p  Character 
      .col-1
        p  Character 
      // <button> Edit </button>
      .col-1
        p  Character 
      .col-1
        p  Character 
      .col-1
        p  Character 
      // <button> Edit </button>
      .col-1
        p  Character 
      .col-1
        p  Character 
      .col-1
        p  Character 
      // <button> Edit </button>

      //- i need something to commit 