


html#select
  head
    title  Goals 
    link(rel='stylesheet', type='text/css', href='select.css')
    link(href='http://fonts.googleapis.com/css?family=Lobster|Changa+One', rel='stylesheet', type='text/css')
  body
    #logo
      header.table
        ul#hlist
          li#left
            a(href='#')  Select Teams 
          li
            a(href='#')  Teams 
          li
            a(href='#')  Leaderboard 
          li
            a(href='#')  Profile 
    .char-select
      .col-1
        p  Character 
      .col-1
        p  Character 
      .col-1
        p  Character 
      .col-1
        p  Character 
      .col-1
        p  Character 
      .col-1
      #2267
        p  Character 
      .col-1
        p  Character 
      .col-1
        p  Character 
      .col-1
        p  Character 
      .col-1
        p  Character 
      .col-1
        p  Character 
      .col-1
        p  Character 
      // <p> Character Select with a grid and pictures of the characters </p>
    .char-bio
      p
        | Bio and character picture. The new star wars will never be as good as the old ones but it sure as shit will be better than the new ones!
    .selected
      img.fit(src='img/Hulk-1.png')
    .selected
      img.fit(src='img/drdoom.png')
    .selected
      img.fit(src='img/spidey.jpg')
    #fight
      p  FIGHT 
