


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(../img/background.jpg);
 
  /*background-image-width: 100%;
  background-image-height: 100%;*/
}

a {
  color: #00B7FF;
  float: right;
}

a.hover {
	color: red;
}



#back {
	background-color: blue;
}

.span-24 ul {
	list-style: none;

}

.right {
	float: right;
}

.span-25 ul {
	list-style: none;
}

.left {
	float: left;
}

.title {
	text-align: center;
	color: red;
}

h1 {
	color: red;
	
}

.login {
	background: blue;
	border-radius: 25px;
	padding: 15px;
	opacity: 1;
	color: red;
	font-family: 'Bangers', cursive;
	/*margin: 300px;
*/
}

.hvr-grow {
	cursor: pointer;
	
}

.hvr-pulse {
	cursor: pointer;
}

.signup {
	cursor: pointer;
	opacity: none;
}

#loginButton {
	cursor: pointer;
	font-weight: bold;
	
}

#signupButton {
	cursor: pointer;
	opacity: none;
}




#grid{
	height: 800px;
	width: 500px;
	border: 5px solid #52DDFF;
	margin: 0 auto;
	font-family: 'Bangers';
	background: white;
	/*float: left;*/
	opacity: none;
	display: inline-block;

}

.row {
	border: 2px solid #52DDFF;
    width: 50px;
    height: 50px;
    float: left; 
    padding: 15px;
    margin: 15px 15px 15px 15px;
     
}

#options {
	border-bottom: 2px solid #52DDFF;
	

}

/*.row2 {
	border: 2px solid blue;
	width: 50px;
	float: right;*/

}






























 
