
/************
 Login/Signup
*************/

input[type="text"] {
  font-family: 'Changa One', sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: 15px;
  color:black;
}
input[type="text"]:focus {
  outline: none;
}

input[type="password"] {
  font-family: 'Changa One', sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: 15px;
  color:black;
}
input[type="password"]:focus {
  outline: none;
}

body {
  padding: 25px;
  font: 14px "Changa One", Helvetica, Arial, sans-serif;
  text-shadow: 2px 2px 2px black;

}

/***********************
 comicapp div and title
***********************/
.title {
    text-align: center;
    color: red;
}

#comicapp.login {
  margin: 0 auto;
  padding: 10px;
}

.blue {
  border: 2px solid red;
  border-radius: 25px;
  background-color: #001FE2;
}

.black {
  background-color: black;
  border: 2px solid red;
  border-radius: 25px;
}

.signup {
  cursor: pointer;
  opacity: none;
}

#loginButton {
  cursor: pointer;
  font-weight: bold;
  background-color: red;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  font-family: 'Changa One', sans-serif;
  border: none;
  border-radius: 25px;
  color:black;
}

#loginButton:hover {
  background-color: #52DDFF;
}

#signupButton {
  cursor: pointer;
  font-weight: bold;
  background-color: red;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  font-family: 'Changa One', sans-serif;
  border: none;
  border-radius: 25px;
  color:black;
}

#comicapp {
  color: red;
  font-family: 'Bangers', sans-serif;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

a {
  color: #00B7FF;
  float: right;
}

a.hover {
    color: red;
}

#back {
    background-color: blue;
}

#BG {
  background: url(../img/Marvel-vs-DC-Wallpaper.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
 /*// ../img/background.jpg //*/
}

.hvr-grow {
    cursor: pointer;
}

.hvr-pulse {
    cursor: pointer;
}

/***********************
 character select screen
 and user info
***********************/

#grid{
    height: 800px;
    width: 500px;
    border: 5px solid #52DDFF;
    margin: 0 auto;
    font-family: 'Bangers', sans-serif;
    background: white;
    opacity: none;
    display: inline-block;
}

#options {
    border-bottom: 2px solid #52DDFF;
    background: black;
}

#user-container{
  background-color: whitesmoke;
  border-radius: 25px;
  border: 2px solid red;
  padding: .5%;
}

#userInfo {
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 25px;
  color: red;
  font-family: 'Bangers', sans-serif;
  text-align: center;
}

#team1 img, #team2 img{
  width: 90px;
  height: 120px;
  padding: 2px;
}

#user-stats p {
  font-size: 20px;
}

#chargrid {
  margin: auto;
}

#tableDiv{
  display: block;
}

.character-view-main {
  background: black;
  border: 2px solid red;
  border-radius: 25px;
  overflow: auto;
  font-family: 'Changa One', sans-serif;
  color: red;
  padding: .5%;
}

/***********************
 .character refers to
 the character portraits
 in the select grid
***********************/

.character{
  width: 80px;
  height: 120px;
  border: 3px solid grey;
  border-radius: 5%;
}

.character:hover {
  border: 3px solid red;
}

.character img {
  display: flex;
  max-width: 100%;
  min-height: 100%;
  align-items: center;
  overflow: hidden;
}

#fight-view {
  padding: 20px;
  background: black;
  border: 2px solid red;
  border-radius: 25px;
}

#fightButton {
  background-color: red;
  text-decoration: none;
  padding: 10px;
  font-family: 'Changa One', sans-serif;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  font-size: 20px;
  text-align: center;
  color: black;
}

#fightButton:hover {
  background-color: #52DDFF;
}

#removeCharacter, #logout, #saveTeam, #leaderboard, #returnToCharSelect {
  background-color: red;
  text-decoration: none;
  padding: 10px;
  font-family: 'Changa One', sans-serif;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 25px;
  text-align: center;
  color: black;
}

#logout{
  padding-left: 25px;
  padding-right: 25px;
}

#returnToCharSelect{
  margin-top: 5px;
  margin-bottom: 10px;
}
/*MAKES BUTTON ANIMATE AND CHANGE COLOR*/
.removeCharacter:hover {
  background-color: #52DDFF;
}

#removeCharacterDiv, #leaderboardLogout{
  text-align: center;
  width:50%;
}

#removeCharacterDiv{
  text-align: right;
  padding-right: 5px;
}

#leaderboardLogout{
  text-align: left;
  padding-left: 5px;
}

#fightButtonDiv{
  text-align: center;
  padding-top: 5px;
}

#charName {
  font-size: 40px;
  margin: 0;
  padding-top: 2%
}

#charDeck {
  font-size: 19px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
}

#charDeck img {
  overflow: hidden;
  display: block;
  align-items: right;
  text-align: right;
}

.character {
  cursor: pointer;
}

#charImg {
  border: 5px solid grey;
  border-radius: 15px;
  overflow: hidden;
  height: 600px;
}

#fight {
  background-color: red;
  text-decoration: none;
  font-family: 'Changa One', sans-serif;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  font-size: 20px;
  color:black;
  padding: 10px;
}

#fight:hover {
  background-color: #52DDFF;
}

#slowFight {
  background-color: red;
  text-decoration: none;
  font-family: 'Changa One', sans-serif;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  font-size: 20px;
  color:black;
  padding: 10px;
}

#slowFight:hover {
  background-color: #52DDFF;
}

#team-battle-info {
  display: flex;
  padding: 5px;
  text-align: center;
  position: absolute;
  top: 50px;
  left: 50px;
  width: 200px;
}

#team-battle-info img{
  width: 90px;
  height: 130px;
  padding: 3px;
}

#userInstruction{
  margin: 0;
}

#leaderboardDiv{
  text-align: center;
  margin-top: 5px;
}

.leaderboardList {
  display:inline-flex;
  width:75%;
  border: 3px solid grey;
  margin: 5px 0 5px 0;
  border-radius: 25px;
}

.userTeams{
  width: 50%;
  padding-top: 5px;
}

.userTeams img {
  width: 100px;
  height: 140px;
  margin: 0px 3px 3px 0px;
  border: 2px solid grey;
  border-radius: 5px;
}
.userNames, .userWins{
  width:25%;
  margin-top: auto;
  margin-bottom: auto;
}

#topRow{
  padding-bottom: 1%;
}

#masterOfButtons{
  display: flex;
}

.padButtons{
  padding-top: 5px;
}

#roundNumHeader{
  font-size: 40px;
  margin: 0px;
}

#charBio{
  font-size: 25px;
}

#activeLeftNameHeader, #activeRightNameHeader{
  font-size: 50px;
  margin:0;
}