
body {
  padding: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  float: right;
}

a.hover {
    color: red;
}

#back {
    background-color: blue;
}

.span-24 ul {
    list-style: none;
}

/*.right {
    float: right;
}*/

.span-25 ul {
    list-style: none;
}

.left {
    float: left;
}

.title {
    text-align: center;
    color: red;
}

h1 {
    color: red;
    font-family: 'Bangers';
    text-align: center;
}

.login {
    background: navy;
    border-radius: 25px;
    padding: 10px;
    opacity: 1;
    color: red;
    font-family: 'Bangers', cursive;
    text-align: center;
    width: 80%;
    border: 2px solid red;
    float: left;
    margin-top: 25px;



}

/*.login h1 {
  float: left;
}*/

#BG {
  background: url(../img/leaderboardBackground.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;

 /*// ../img/background.jpg //*/
}

.hvr-grow {
    cursor: pointer;

}

.hvr-pulse {
    cursor: pointer;
}

.signup {
    cursor: pointer;
    opacity: none;
}

#loginButton {
  cursor: pointer;
  font-weight: bold;
  background-color: red;
  text-decoration: none;
  padding: 10px;
  font-family: 'Changa One';
  border: none;
  border-radius: 25px;
  margin-left: 120px;

}
#loginButton:hover {
  background-color: #52DDFF;
}

#signupButton {
    cursor: pointer;
    opacity: none;
}

#grid{
    height: 800px;
    width: 500px;
    border: 5px solid #52DDFF;
    margin: 0 auto;
    font-family: 'Bangers';
    background: white;
    /*float: left;*/
    opacity: none;
    display: inline-block;
}

.row {
    border: 2px solid #52DDFF;
    width: 50px;
    height: 50px;
    float: left;
    padding: 15px;
    margin: 15px 15px 15px 15px;
    background: black;
}

#options {
    border-bottom: 2px solid #52DDFF;
    background: black;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
}

li {
    padding: 10px;
}

/*#selectBG {
  background: url(../../websiteImages/imagesForSite/leaderboardBackground.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}*/
.character-view-main #chargrid{
  text-align: center;
  width: 30%
}

#user-container{
  display: inline-flex;
  text-align: center;
  width: 100%;
  background-color: whitesmoke;
  border-radius: 25px;
}

#team1, #team2, #user-stats{
  width: 30%;
}

#team-battle-info, #tableDiv {
  display: inline-flex;
}

.character-view-main {
  display : inline-block;
  background: black;
  padding: 20px;
  /*margin-top: 10%;*/
  border-radius: 25px;
  /*border: 2px solid red;*/
  overflow: auto;
  margin-left: 20px;
  overflow: auto;
}

#userInfo {
  background: black;
  margin-top: 20px;
  margin-bottom: 10%;
  width: 79%;
  border-radius: 25px;
  padding: 25px;
  border: 2px solid red;
  color: red;
  font-family: 'Bangers';
  overflow: auto;
  /*margin-left: 20px;*/
  float: left;
}

.character-view-main {
  padding: 20px;
  display : inline-block;
  background: black;
  margin: 20%, 5%, 5%, 20%;
  border: 2px solid red;
  border-radius: 25px;
  width: 90%;
  overflow: auto;
}

.character{
  width: 120px;
  height: 130px;
  display: inline-grid;
  border: 5px solid grey;
  border-radius: 5%;
}

.character:hover {
  border: 5px solid red;

}




.character img {
  display: flex;
  max-width: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


#fight-view {
  height: 40%;
  padding: 20px;
  background: black;
}

#charInformation, #chargrid {
  width: 50%;
}

img {
  padding-right: 20px;


 
}

/*#charImg {
  height: 100px;
  width: 100px;
}*/


#fightButton {
  background-color: red;
  text-decoration: none;
  padding: 10px;
  font-family: 'Changa One';
  border: none;
  cursor: pointer;
  border-radius: 25px;
  font-size: 20px;
  float: left;
  
}

#fightButton:hover {
  background-color: #52DDFF;
}

#removeCharacter {
  background-color: red;
  text-decoration: none;
  padding: 10px;
  font-family: 'Changa One';
  border: none;
  float: left;
  margin-right: 15px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 25px;

}
/*MAKES BUTTON ANIMATE AND CHANGE COLOR*/ 
#removeCharacter:hover {
  background-color: #52DDFF;
}
#charName {
  font-size: 25px;
}


#charDeck {
  font-size: 19px;
  overflow: auto;
}
/*#chargrid {
  margin-top: 100px;
}*/

.character {
  cursor: pointer;

}

#charImg {
  border: 5px solid grey;
}

tr {
  margin: 10 10 10 10;
}

#user-stats p {
  font-size: 20px;
}



#chargrid {
  margin-top: 75px;
}

#fight {
  background-color: red;
  text-decoration: none;
  padding: 10px;
  font-family: 'Changa One';
  border: none;
  cursor: pointer;
  border-radius: 25px;
  font-size: 20px;
  margin-right: 15px;

}

#fight:hover {
  background-color: #52DDFF;
}

#slowFight {
  background-color: red;
  text-decoration: none;
  padding: 10px;
  font-family: 'Changa One';
  border: none;
  cursor: pointer;
  border-radius: 25px;
  font-size: 20px;
}

#slowFight:hover {
  background-color: #52DDFF;
}

#user-team {
  float: left;
}

#computer-team {
  float: left;

}
